@(UserForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

<div style=" margin-left: 500px;">
@main("editProfile") {
	
   <h1>User Profile</h1>
   @helper.form(action = routes.UserApplication.save()){
   
   	<fieldset>

   		<legend>User (@UserForm("userName").valueOr("new"))</legend>
		@helper.inputText(UserForm("userName"), '_label -> "user name")
 		@helper.inputText(UserForm("currentEmployer"),'_label -> "employer")
 		@helper.inputText(UserForm("currentTitle"),'_label -> "title")
		@helper.textarea(UserForm("workExperience"),'_label -> "history")

	 </fieldset>

 <div class="action">
 	<input type="submit" value="submit" class="btn-primary"> or
 		<a href="@routes.UserApplication.editProfile()" class="btn">Cancel</a> 
</div>
</form>
}
}
