@(titles: List[User], employers: List[User])

@main("searchResults") {
   <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">search results</div>
 		 
	<dl>
		@for(aUser <- titles) {
			<p>@aUser.currentTitle</p>
		}

		@for(aUser <- employers) {
			<p>@aUser.currentTitle</p>
		}
	</dl>
#	<!-- Table -->
#  <table class="table">
#    <tr>
#		<th> User Name </th>
#		<th> Employer </th>
#		<th> Title </th>
#		
#	</tr>
#	<tr>
#		<td><a href="#">db name</a></td>
#		<td>db </td>
#		<td>6</td>
#		
#	</tr>
# </table>
}
