@(perfect: List[User], titles: List[User], employers: List[User])
@main("searchResults") {
   <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">perfect match</div>
 		
		
		
	</dl>
	<!-- Table -->
 <table class="table">
    <tr>
		<th> User Name </th>
		<th> Title </th>
		<th> Employer </th>
		
	</tr>
	@for(aUser <- perfect) {
	<tr>
		<td><a href="@routes.UserApplication.viewUserProfile(aUser.id)">@aUser.displayName</a></td>
		<td>@aUser.currentTitle</td>
		<td>@aUser.currentEmployer</td>
		
	</tr>
	}
 </table>
 </div>
 </div>
  <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">matches title</div>
 <!-- Table -->
 <table class="table">
    <tr>
		<th> User Name </th>
		<th> Title </th>
		<th> Employer </th>
		
	</tr>
	@for(aUser <- titles) {
	<tr>
		<td><a href="@routes.UserApplication.viewUserProfile(aUser.id)">@aUser.displayName</a></td>
		<td>@aUser.currentTitle</td>
		<td>@aUser.currentEmployer</td>
		
	</tr>
	}
 </table>
 </div>
 </div>
  <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">matches employer</div>
 <!-- Table -->
 <table class="table">
    <tr>
		<th> User Name </th>
		<th> Title </th>
		<th> Employer </th>
		
	</tr>
	@for(aUser <- employers) {
	<tr>
		<td><a href="@routes.UserApplication.viewUserProfile(aUser.id)">@aUser.displayName</a></td>
		<td>@aUser.currentTitle</td>
		<td>@aUser.currentEmployer</td>
		
	</tr>
	}
 </table>
 </div>
     	<a href="@routes.UserApplication.searchCriteria()">Back to Search</a>
 </div>
}
