@(UserForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

<div style=" margin-left: 500px;">
@main("searchCriteria") {
	
   <h1>Search Criteria</h1>
   @helper.form(action = routes.UserApplication.searchResults()){
   
   	<fieldset>

 		@helper.inputText(UserForm("currentEmployer"),'_label -> "employer")
 		@helper.inputText(UserForm("currentTitle"),'_label -> "title")

	 </fieldset>

	 <div class="action">
 	<input type="submit" value="submit" class="btn-primary"> or
 		<a href="@routes.UserApplication.searchResults()" class="btn">Cancel</a> 
	</div>
	}
}