@(flash: String, someUser: User, mentors: List[User], mentees: List[User])

@main("userProfile") {

<div class="container" style="width: 50%;">
		<div class="panel panel-primary">
			<div class="panel-heading">@someUser.displayName</div>
		</div>
</div>
   <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">Mentors</div>
 		 
		
	<!-- Table -->
  <table class="table">
    <tr>
		<th> User Name </th>
		<th> Employer </th>
		<th> Title </th>
		
	</tr>
		@for(aUser <- mentors) {
		<tr>
		<td>@aUser.displayName</td>
		<td>@aUser.currentEmployer</td>
		<td>@aUser.currentTitle <br\></td>
		</tr>
		}
 </table>
 </div>
 </div>
 <div class="container" style="width:50%;">
    <div class="panel panel-primary">
		  <!-- Default panel contents -->
 		 <div class="panel-heading">Mentee's</div>
 		 
		
	<!-- Table -->
  <table class="table">
    <tr>
		<th> User Name </th>
		<th> Employer </th>
		<th> Title </th>
		
	</tr>

	</tr>
		@for(aUser <- mentees) {
		<tr>
		<td>@aUser.displayName</td>
		<td>@aUser.currentEmployer</td>
		<td>@aUser.currentTitle <br\></td>
		</tr>
		}
 </table>
 </div>
 <div class="btn-group">
 		 <a  href="@routes.UserApplication.searchCriteria()"><button type="button" class="btn btn-primary">search</button></a>
  		 <a href="@routes.UserApplication.edit(someUser.id)"><button type="button" class="btn btn-primary">Edit</button></a>
 		 
	</div>
 </div>
}
