@(UserForm: Form[User])



@import helper._
@import helper.twitterBootstrap._

<div style=" margin-left: 500px;">
@main("userSetup") {
	
   <h1>user setup</h1>
   @helper.form(action = routes.Application.save()){
   
   	<fieldset>

   		<legend>User (@UserForm("name").valueOr("new"))</legend>
		@helper.inputText(UserForm("user"))
 		@helper.inputText(UserForm("employer"))
 		@helper.inputText(UserForm("title"))
		@helper.textarea(UserForm("History"))

	 </fieldset>

 <input type="submit" class="btn primary">

}
}
</div>
